<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/public/images/RODASBEATZ.png">
    <title>RodaSound</title>
    
</head>
<header>
    <a href="/">
        <h1 class="nombreR">RodaSound</h1>
    </a>
</header>
<body>
    <a href="/productos/listado">
        <div class="logo-caja">
            <img class="logo"  src="/images/RODASBEATZ.png">
        </div>
    </a>
    <div class="boton">
        <a href="/productos/listado" class="button">VER CATALOGO DE PRODUCTOS</a>
    </div>

</div>
</body>
</html>