body{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.797);
}
.titulo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin:30px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.797);
    color:white;
}

.nombrepg{
    width: 100%;
    text-align: center;
    font-weight: bold;;
    font-size: 50px;
    background-color: black;
    color:white;
}

.boton{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 60px;
    background-color: black;
    padding: 100px;
    color: white;
}

.logo-caja{
    display: flex;
    justify-content: center;
    background-color: white;

}

.logo{
    width: 400px;
    height: 300px;
}